{% extends 'layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

    <div class="row">

        <div class="col-md-2 col-md-offset-5">

            <br/>
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Agregar usuario</b></div>
                <div class="panel-body">

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        {{ form_widget(form) }}
                        <br/>
                        <div>
                            <input type="submit" class="btn btn-primary btn-md" value="{{ 'registration.submit'|trans }}" />
                            <a href="/ " class="btn btn-danger btn-md">Cancelar</a>
                        </div>
                    {{ form_end(form) }}

                </div>
            </div>

        </div>

    </div>

{% endblock %}