{% extends 'addBase.html.twig' %}


{% block tituloAdd %}{{ tituloForm }}{% endblock %}


{% block bodyFormulario %}

    <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Vidrio</div>
            <div class="panel-body">

                {% block formulario %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}