{% extends 'VidrioBundle:Vidrio:add.html.twig' %}

{% block formulario %}

    {{ form_start(form, { 'attr' : {'id' : 'form'} }) }}

        {{ form_row(form.descripcion) }}
        {{ form_row(form.espesor) }}
        {{ form_row(form.valorM2) }}
        {{ form_row(form.enabled) }}

        <p class="col-md-6">
            {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success btn-block'} }) }}
        </p>

        <div class="col-md-6">
            <a class="btn btn-default btn-block" href="{{ path('vidrio_listar') }}" >Regresar</a>
        </div>

    {{ form_end(form) }}

{% endblock %}