{% extends 'listarBase.html.twig' %} 


{% block tituloTabla %} Vidrios {% endblock %} 


{% block tabla %}

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Espesor</th>
            <th>Valor M2</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Acción</th>
                {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for vidrio in vidrios %}
        <tr>
            <td> {{ vidrio.descripcion }} </td>
            <td> {{ vidrio.espesor }} mm.</td>
            <td> $ {{ vidrio.valorM2 | number_format(2, ',', '.') }} </td>
            {% if is_granted('ROLE_ADMIN') %}
                <td class="actions">
                    {% block acciones %}
                    <a href="{{ path('vidrio_edit', { 'id': vidrio.id }) }}"
                       data-toggle="tooltip" title="Editar vidrio"
                       class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                    <a href="{{ path('vidrio_delete', { 'id': vidrio.id }) }}"
                       data-toggle="tooltip" title="Eliminar vidrio!"
                       class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash">
                    </a>
                    {% endblock %}
                </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}

{% block add_button %}
    <div class="col-md-2 col-md-offset-4">
        <a class="btn btn-primary btn-block" href="{{ path('vidrio_add') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar Vidrio
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default btn-block" href="{{ path('vidrio_unlist') }}">
            <span class="glyphicon glyphicon-eye-close"></span>
            Ver no disponibles
        </a>
    </div>
{% endblock %}