{% extends 'VidrioBundle:Vidrio:listar.html.twig' %}


{% block tituloTabla %}Vidrios eliminados{% endblock %}


{% block acciones %}
    <a href="{{ path('vidrio_edit', { 'id': vidrio.id }) }}"
       data-toggle="tooltip" title="Editar vidrio"
       class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
    <a href="{{ path('vidrio_activar', { 'id': vidrio.id }) }}"
       data-toggle="tooltip" title="Activar vidrio!"
       class="btn btn-success btn-xs glyphicon glyphicon-chevron-up"></a>
    <a href="{{ path('vidrio_delete_fuerza', { 'id': vidrio.id }) }}"
       data-toggle="tooltip" title="Eliminar vidrio del sistema!"
       class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-remove">
    </a>
{% endblock %}


{% block add_button %}
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-default btn-block" href="{{ path('vidrio_listar') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Volver a listado
        </a>
    </div>
{% endblock %}