{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="row">
            <div class="col-md-4 col-md-offset-4">


                <div class="panel panel-default">
                    <div class="panel-heading"><b>Editar Perfil</b></div>
                    <div class="panel-body">

                        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

                            <div class="form-group">
                                {{ form_label(form.username) }}
                                {{ form_widget(form.username,
                                { 'attr' : { 'class' : 'form-control',
                                    'placeholder' : 'Nombre de Usuario'} }) }}
                                <span class="text-danger"> {{ form_errors(form.username) }} </span>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email,
                                { 'attr' : { 'class' : 'form-control',
                                    'placeholder' : 'Email'} }) }}
                                <span class="text-danger"> {{ form_errors(form.email) }} </span>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.current_password) }}
                                {{ form_widget(form.current_password,
                                { 'attr' : { 'class' : 'form-control',
                                    'placeholder' : 'Contrasena actual'} }) }}
                                <span class="text-danger"> {{ form_errors(form.current_password) }} </span>
                            </div>

                            <br/>

                            <div class="text-center">
                                <input class="btn btn-success btn-md" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                            </div>

                        {{ form_end(form) }}

                    </div>
                </div>

            </div>

    </div>
</div>