{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}
    {{ include('Mensajes/error.html.twig') }}

    <div class="container">
        <div class="row">


                <h3 style="text-align:center;"><b>{% block tituloAdd %}Agregar Presupuesto{% endblock %}</b></h3>
                <br/>
                {% block formulario %}

                    {{ form_start(form, { 'attr' : {'id' : 'form'} }) }}

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">Informacion Básica</div>
                            <div class="panel-body">

                                {{ form_label(form.user) }}
                                <h4>{{ app.user.nombre }} {{ app.user.apellido }}</h4>
                                <br>

                                {{ form_row(form.cliente) }}

                                {{ form_row(form.fecha) }}

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">Costos</div>
                            <div class="panel-body" >

                                {{ form_row(form.costoColocacion) }}
                                {{ form_row(form.costoEnvio) }}

                                <div class="form-group hidden">
                                    {{ form_widget(form.user) }}
                                    {{ form_row(form.enabled) }}
                                    {{ form_row(form.costoTotal) }}
                                    {{ form_row(form.carpinterias) }}
                                </div>

                                <div class="row text-center" style="margin-top: 25px;">
                                    <label>Nota: Para agregar carpinterías primero deberá guardar el presupuesto</label>
                                    <div class="col-sm-6">
                                        <p>
                                            {{ form_widget(form.save,
                                            { 'label' : 'Guardar',
                                                'attr' : {'class' : 'btn btn-success btn-md'}
                                            }) }}
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <p>
                                            <button class="btn btn-danger btn-md"
                                                    href="{{ path('presupuesto_listar') }}" >
                                                Regresar
                                            </button>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">

                    </div>


                    {{ form_end(form) }}

                {% endblock %}
                <br/>

        </div>
    </div>


    {% block funcionesJs %}

    {% endblock %}


{% endblock %}