{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}

    <div class="container">
        <div class="row">


            <h3 class="text-center"><b>{% block tituloEdit %}Editar Presupuesto{% endblock %}</b></h3>
            <br/>
            {% block formulario %}

                {{ form_start(form, { 'attr' : {'id' : 'form'} }) }}

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Informacion Basica</div>
                        <div class="panel-body">

                            {{ form_row(form.cliente) }}
                            {{ form_row(form.user) }}
                            {{ form_row(form.fecha) }}

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Costos</div>
                        <div class="panel-body">

                            {{ form_row(form.costoColocacion) }}
                            {{ form_row(form.costoEnvio) }}

                            <center>
                                <div class="col-sm-8 col-sm-offset-2 panel panel-default">
                                    <div class="panel-body">
                                        {{ form_label(form.costoTotal) }}
                                        <h4 class="text-success">
                                            <strong>
                                                $ {{ form.vars.value.costoTotal | number_format(2, ',', '.') }}
                                            </strong>
                                        </h4>
                                    </div>
                                </div>
                            </center>

                            <div class="form-group hidden">
                                {{ form_row(form.enabled) }}
                                {{ form_widget(form.costoTotal) }}
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <p>
                            {{ form_widget(form.save,
                            { 'label' : 'Guardar',
                                'attr' : {'class' : 'btn btn-success btn-lg btn-block'}
                            }) }}
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <a class="btn btn-danger btn-lg btn-block" href="#" >
                                <span class="glyphicon glyphicon-print"></span>
                                &nbsp;Generar PDF
                            </a>
                        </p>
                    </div>
                    <div class="col-sm-4">
                        <p>
                            <a class="btn btn-default btn-lg btn-block" href="{{ path('presupuesto_listar') }}" >
                                <span class="glyphicon glyphicon-arrow-left"></span>
                                &nbsp;Regresar al listado
                            </a>
                        </p>
                    </div>
                </div>

                <div class="col-sm-12">

                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Carpinterias</div>
                        <div class="panel-body">

                            {# ------ | CARPINTERIAS | ------ #}
                            {% for carpinteria in form.carpinterias %}

                                {% block _presupuesto_carpinterias_carpinteria_entry_row %}
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading text-center">Carpinteria</div>
                                            <div class="panel-body">

                                                {{ form_label(carpinteria.abertura) }}
                                                {{ form_widget(carpinteria.abertura,
                                                { 'attr' : {'class' : 'form-control abertura'} }) }}
                                                <br>
                                                <br>

                                                {{ form_row(carpinteria.vidrio) }}
                                                {{ form_row(carpinteria.anchoVidrio) }}
                                                {{ form_row(carpinteria.altoVidrio) }}
                                                {{ form_row(carpinteria.contramarco) }}
                                                {{ form_row(carpinteria.cantidad) }}

                                                <center>
                                                    <div class="col-sm-8 col-sm-offset-2 panel panel-default">
                                                        <div class="panel-body">
                                                            {{ form_label(carpinteria.costo) }}
                                                            <h5 class="text-success">
                                                                <strong>
                                                                    {{ carpinteria.vars.value.costo | number_format(2, ',', '.') }}
                                                                </strong>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </center>
                                                <div class="hidden"> {{ form_widget(carpinteria.costo) }} </div>

                                                {{ form_widget(carpinteria.save,
                                                { 'label' : 'Guardar cambios',
                                                    'attr' : {'class' : 'btn btn-primary btn-block'}
                                                }) }}

                                                {# --- CAMPOS OCULTOS --- #}
                                                <div class="hidden">
                                                    {{ form_row(carpinteria.premarco) }}
                                                    {{ form_row(carpinteria.presupuesto) }}
                                                    {{ form_row(carpinteria.enabled) }}
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                {% endblock %}

                            {% endfor %}
                            {# --- FIN CARPINTERIAS --- #}

                            {# --- GENERACION DINÁMICA DE FORMULARIOS --- #}
                            <ul class="carpinterias" data-prototype="{{ form_widget(form.carpinterias.vars.prototype)|e('html_attr') }}">
                                {{ form_rest(form.carpinterias.vars.prototype)|e }}
                            </ul>

                        </div>
                    </div>

                </div>

                {{ form_end(form) }}

            {% endblock %}
            <br/>

        </div>
    </div>

    {% block funcionesJs %}
        <script type="text/javascript" >
            $(document).ready(function(){
                $('select.abertura').chosen({
                    placeholder_text_single: 'Seleccione una Abertura',
                    no_results_text: 'No hay resultados para:'
                });
            });
        </script>
        <script src="{{ asset('bundles/presupuesto/js/addForm.js') }}" ></script>
    {% endblock %}


{% endblock %}