{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}

    <div class="container">
        <div class="row">


            <h3 class="text-center"><b>{% block tituloEdit %}Editar Presupuesto{% endblock %}</b></h3>
            <br/>
            {% block formulario %}

                {{ form_start(form, { 'attr' : {'id' : 'form'} }) }}

                <div class="col-sm-3">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Informacion Básica</div>
                        <div class="panel-body">

                            {{ form_label(form.user) }}
                            <h4>{{ form.vars.value.user }}</h4>
                            <br>

                            {{ form_row(form.cliente) }}

                            {{ form_row(form.fecha) }}

                        </div>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Costos</div>
                        <div class="panel-body">

             

                            {{ form_row(form.costoColocacion) }}
                            {{ form_row(form.costoEnvio) }}

                            {{ form_label(form.costoTotal) }}
                            <h5 class="text-success">
                                <strong>
                                    $ {{ form.vars.value.costoTotal | number_format(2, ',', '.') }}
                                </strong>
                            </h5>

                            <div class="form-group hidden">
                                {{ form_row(form.enabled) }}
                                {#{{ form_widget(form.costoTotal) }}#}
                            </div>
           
                            <br>


                        </div>
                    </div>
                </div>

                <div class="col-sm-7">

                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Carpinterías</div>
                        <div class="panel-body">

                            <!-- TABLA CON CARPINTERIAS -->
                            {%  block tablaCarpinterias %}
                            {% endblock %}

                        </div>
                        <p class="text-center">
                            <a href="{{ path('presupuesto_add_carpinteria', {'id' : id } )  }}"
                               class="btn btn-primary btn-md">
                                Agregar Carpinterías
                            </a>
                        </p>
                    </div>

                    <div class="row text-center">
                        <div class="col-sm-4">
                            <p>
                                <!--<span class="glyphicon glyphicon-floppy-disk"></span> -->
                                {{ form_widget(form.save,
                                { 'label' : 'Guardar',
                                    'attr' : {'class' : 'btn btn-success btn-block'}
                                }) }}
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <a class="btn btn-danger btn-block" href="{{ path('presupuesto_pdf', {'id' : id } ) }}" >
                                    <span class="glyphicon glyphicon-print"></span>
                                    &nbsp;Generar PDF
                                </a>
                            </p>
                        </div>
                        <div class="col-sm-4">
                            <p>
                                <a class="btn btn-default btn-block" href="{{ path('presupuesto_listar') }}" >
                                    <span class="glyphicon glyphicon-arrow-left"></span>
                                    &nbsp;Regresar al listado
                                </a>
                            </p>
                        </div>
                    </div>

                </div>

                {# Tengo las carpinterias desde el formulario, pero no necesito editarlas en esta vista #}
                <div class="form-group hidden">
                    {{ form_rest(form) }}
                </div>

                {{ form_end(form) }}

            {% endblock %}
            <br/>

        </div>
    </div>


    {% block funcionesJs %}
        {{ include('js/datatableES.html.twig') }}

        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    {% endblock %}


{% endblock %}
