{{ form_start(form, {'attr': {'id': id|default('form')}} ) }}

    {{ form_widget(form) }}

    {% if with_submit is not defined or with_submit == true %}
        <input type="button" value="{{ 'Delete presupuesto'|trans }}" class="btn btn-lg btn-block btn-danger"
               onclick="confirmDelete()" >
    {% endif %}

{{ form_end(form) }}

<script>
    var message = '{{ message }}';

    function confirmDelete()
    {
        bootbox.confirm(message, function(result) {
            if(result == true)
            {
                document.form.submit();
            }
        });
    }
</script>


<!-- ESTO PUEDE SERVIR
{{ include('PresupuestoBundle:Presupuesto:form.html.twig',
{ form: delete_form_ajax, message: 'Are you sure ?'|trans, id: 'form-delete', with_submit: false})
}}
-->