{% extends 'listarBaseBig.html.twig' %}


{% block tituloTabla %}Presupuestos{% endblock %}


{% block tabla %}

    <thead>
    <tr>
        <th>Cliente</th>
        <th>Usuario</th>
        <th>Fecha</th>
        <th>Colocacion</th>
        <th>Envio</th>
        <th>Total</th>
        <th>Acción</th>
    </tr>
    </thead>
    <tbody>
    {% for presupuesto in presupuestos %}
        <tr>
            <td> {{ presupuesto.cliente.nombre }} {{ presupuesto.cliente.apellido }}</td>
            <td> {{ presupuesto.user.username }} </td>
            <td> {{ presupuesto.fecha|date('d/m/Y') }} </td>
            <td>$ {{ presupuesto.costoColocacion }} </td>
            <td>$ {{ presupuesto.costoEnvio }} </td>
            <td>$ {{ presupuesto.costoTotal | number_format(2, ',', '.') }} </td>
            <td class="actions">
                <a href="{{ path('presupuesto_edit', { 'id': presupuesto.id }) }}"
                   data-toggle="tooltip" title="Editar presupuesto"
                   class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                <a href="{{ path('presupuesto_add_carpinteria', {'id' : presupuesto.id } )  }}"
                   data-toggle="tooltip" title="Agregar carpinteria"
                   class="btn btn-primary btn-xs glyphicon glyphicon-plus">
                </a>
                <a href="{{ path('presupuesto_delete', { 'id': presupuesto.id }) }}" data-path="#"
                   data-toggle="tooltip" title="Eliminar presupuesto!"
                   class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash">
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

{% endblock %}

{% block add_button %}
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-primary btn-block" href="{{ path('presupuesto_add') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar Presupuesto
        </a>
    </div>
{% endblock %}

{% block funcionesJs %}
    {{ parent() }}
    <script src="{{ asset('bundles/presupuesto/js/delete.js') }}" ></script>
{% endblock %}

