{% extends 'PresupuestoBundle:Presupuesto:edit.html.twig' %}


{% block tablaCarpinterias %}

    <div class="table-responsive" style="border-bottom: 1px solid lightgrey">
        <table class="table table-hover table-striped table-bordered table-condensed" id="datatable">

            <thead>
                <tr>
                    <th>Modelo</th>
                    <th>Marca</th>
                    <th>Vidrio</th>
                    <th>Ancho</th>
                    <th>Alto</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for carpinteria in carpinterias %}
                    <tr>
                        <td> {{ carpinteria.abertura.modelo }} </td>
                        <td> {{ carpinteria.abertura.marca }} </td>
                        <td> {{ carpinteria.vidrio }} </td>
                        <td> {{ carpinteria.altoVidrio }} </td>
                        <td> {{ carpinteria.anchoVidrio }} </td>
                        <td> {{ carpinteria.cantidad }} </td>
                        <td> {{ carpinteria.costo | number_format(2, ',', '.')  }} </td>
                        <td class="actions">
                            <a href="{{ path('carpinteria_edit', { 'id': carpinteria.id }) }}"
                               class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                            <a href="{{ path('carpinteria_delete', { 'id': carpinteria.id }) }}"
                               data-path="#"
                               class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash"></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}




{% block funcionesJs %}
    {{ parent() }}
    <script src="{{ asset('bundles/presupuesto/js/delete.js') }}" ></script>
{% endblock %}

