	<div class="titulo" style="text-align:center; background-color:#565656;color:white;">
	<h1>{{title}}</h1>
	</div>

    <p style="text-align:right;">{{ presupuesto.fecha|date('d/m/Y') }}</p>
	<p>Sr/Sra: {{ presupuesto.cliente.nombre }} {{ presupuesto.cliente.apellido }}</p>
	<br />

    <h3>{{title2}}</h3>
    <hr />
    <p>Detalle de Aberturas</p>
    <br />

    {% for carpinteria in carpinterias %}
        <table>
            <tbody>
            <tr>
                <td>{{ 'v' ~ carpinteria.abertura.id }}</td>
                <th> {{ 'Monto Unitario       ' ~ 'ARS ' ~ carpinteria.costo | number_format(2, ',', '.')  }} </th>
            </tr>
            <tr>
                <td> {{ 'Cantidad: ' ~ carpinteria.cantidad }} </td>
            </tr>
            <tr>
                <td> {{ carpinteria.abertura.modelo }} | {{ (carpinteria.anchoVidrio | number_format(0, '.', ','))
                    ~ ' x ' ~ (carpinteria.altoVidrio | number_format(0, '.', ',')) ~ ' mts '}} |
                    {{' Linea ' ~ carpinteria.abertura.marca}}
                <hr /></td>
            </tr>
            <tr>
                <td> {{ 'Vidrios: ' ~ carpinteria.vidrio }} <hr /></td>
            </tr>
            <tr>
                <td> {{ 'Premarco: ' }} {{ carpinteria.premarco == 1 ? 'Si':'No'}} <hr /></td>
            </tr>
            <tr>
                <td> {{ 'Contramarco: ' }} {{ carpinteria.contramarco == 1 ? 'Si':'No'}} <hr /></td>
            </tr>

            {# imagen #}
            <tr>
                <td>
                    {% if (carpinteria.abertura.modelo.imageName) %}
                        {# el nombre es una prueba, borrar despues #}
                        <img alt="imagen" style="max-height: 320px; max-width: 250px;"
                             src="{{ root_web_path }}{{ (vich_uploader_asset(carpinteria.abertura.modelo, 'imageFile'))
                             }}" />
                    {% else %}
                        <label>No tiene imagen</label>
                    {% endif %}
                </td>
            </tr>

            </tbody>
        </table>
        <br />

    {% endfor %}

        <p>Total Carpintería: $ {{ presupuesto.costoCarpinterias | number_format(2, ',', '.')  }}</p>
        <hr />
        <p>Colocación: $ {{ presupuesto.costoColocacion | number_format(2, ',', '.')  }}</p>
        <hr />
        <p>Envio: $ {{ presupuesto.costoEnvio | number_format(2, ',', '.')  }}</p>
        <hr />
        <p>Total presupuesto: $ {{ presupuesto.costoTotal | number_format(2, ',', '.') }}</p>
