{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}
    {{ include('Mensajes/error.html.twig') }}

    <div class="container">
        <div class="row">

                <input class="hidden" id="id_presupuesto" value="{{ id }}">
                <h3 style="text-align:center;"><b>{% block tituloAdd %}Carpinteria{% endblock %}</b></h3>
                <br/>

                {% block formulario %}
                {% endblock %}

                <br/>

        </div>
    </div>

    {% block funcionesJs %}
    {% endblock %}

{% endblock %}