{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}
    {{ include('Mensajes/error.html.twig') }}

    <div class="container">
        <div class="row">

            <input class="hidden" id="id_presupuesto" value="{{ form.vars.value.presupuesto.id }}">
            <input class="hidden" id="abertura_marca" value="{{ id_marca }}">
            <input class="hidden" id="abertura_modelo" value="{{ id_modelo }}">

            <h3 style="text-align:center;"><b>{% block tituloAdd %}Editar Carpinteria{% endblock %}</b></h3>
            <br/>
            {% block formulario %}

                {{ form_start(form, { 'attr' : {'id' : 'form'} }) }}
                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Abertura</div>
                        <div class="panel-body">

                            <div id="modelo" data-path="{{path('carpinteria_update_select_ajax')}}">
                                {{ form_row(form.modelo) }}
                            </div>

                            <br>

                            <div id="divmarca" style="display: none">
                                <label>Marca</label>
                                <select id="marca" data-width="100%" class="form-control"
                                        data-path="{{path('carpinteria_show_costos_abertura_ajax')}}">
                                    <option value="" ></option>
                                </select>
                            </div>

                            <br>

                            <div id="valoresAbertura"  style="display: none"></div>

                            <div id="valorAberturaTotal" style="display: none"></div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Vidrio</div>
                        <div class="panel-body">

                            <div id="vidriopath" data-path="{{path('carpinteria_show_costo_vidrio_ajax')}}">
                                {{ form_row(form.vidrio) }}
                            </div>

                            <div id="valorVidrio" style="display: none"></div>


                            {{ form_row(form.altoVidrio) }}
                            {{ form_row(form.anchoVidrio) }}

                            <div id="valorVidrioTotal" style="display: none"></div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">Carpinteria</div>
                        <div class="panel-body">

                            {{ form_row(form.contramarco) }}
                            {{ form_row(form.cantidad) }}

                            <!-- ------ CAMPOS OCULTOS ------ -->
                            <div class="form-group hidden">
                                {{ form_row(form.abertura) }}
                                {{ form_row(form.vidrio) }}
                                {{ form_row(form.premarco) }}
                                {{ form_row(form.enabled) }}
                                {{ form_row(form.presupuesto) }}
                                {{ form_row(form.costo) }}
                            </div>
                            <!-- ------ FIN OCULTOS ------ -->

                            <br>

                            <div id="valorTotal">
                                <h4>
                                    <label>Valor Total: &nbsp;</label>
                                </h4>
                                <h4>
                                    <label class='label label-success'>$</label>
                                    <label class='label label-success' id='totalTodo'>{{ form.vars.value.costo }}</label>
                                </h4>
                            </div>

                            <input id="id_presupuesto" type="hidden" value="{{ form.vars.value.presupuesto.id }}">

                            <div class="row text-center">
                                <div class="col-sm-12">
                                    <p>
                                        {{ form_widget(form.save,
                                        { 'label' : 'Editar',
                                            'attr' : {'class' : 'btn btn-success btn-block'}
                                        }) }}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-sm-4 text-center">
                    <a class="btn btn-primary"
                       href="{{ path('presupuesto_edit', { 'id' : id }) }}">Regresar al
                        presupuesto</a>
                </div>

                {{ form_end(form) }}

            {% endblock %}
            <br/>

        </div>
    </div>

    {% block funcionesJs %}
        <script src="{{ asset('bundles/carpinteria/js/updateSelect.js') }}" ></script>
    {% endblock %}

{% endblock %}