{% extends 'CarpinteriaBundle:Carpinteria:add.html.twig' %}

{% block formulario %}

    {{ form_start(form, {'action': path('carpinteria_create', { 'id': id })}) }}
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Abertura</div>
            <div class="panel-body">

                <div id="modelo" data-path="{{path('carpinteria_update_select_ajax')}}">
                    {{ form_row(form.modelo) }}
                </div>

                <br>

                <div id="divmarca" style="display: none">
                    <label>Marca</label>
                    <select id="marca" data-width="100%" class="form-control"
                            data-path="{{path('carpinteria_show_costos_abertura_ajax')}}">
                        <option value="" ></option>
                    </select>
                </div>

                {{ form_errors(form.abertura) }}

                <br>

                <div id="valoresAbertura"  style="display: none"></div>

                <div id="valorAberturaTotal" style="display: none"></div>

            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Vidrio</div>
            <div class="panel-body">

                <div id="vidriopath" data-path="{{path('carpinteria_show_costo_vidrio_ajax')}}">
                    {{ form_row(form.vidrio) }}
                </div>

                <div id="valorVidrio" style="display: none"></div>

                {{ form_row(form.altoVidrio) }}
                {{ form_row(form.anchoVidrio) }}

                <label class="text-muted">Ejemplo: 1000 corresponde a 1 metro</label>
                <br/>
                <br/>

                <div id="valorVidrioTotal" style="display: none"></div>

            </div>
        </div>
    </div>

    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Carpinteria</div>
            <div class="panel-body">

                {{ form_row(form.contramarco) }}
                {{ form_row(form.cantidad) }}

                <!-- ------ | CAMPOS OCULTOS | ------ -->
                <div class="form-group hidden">
                    {{ form_label(form.abertura) }}
                    {{ form_widget(form.abertura) }}
                    {{ form_row(form.premarco) }}
                    {{ form_row(form.enabled) }}
                    {{ form_row(form.presupuesto) }}
                    {{ form_row(form.costo) }}
                </div>
                <!-- ------ | FIN OCULTOS | ------ -->

                <br>

                <div id="valorTotal" style="display: none;"></div>

                <input id="id_presupuesto" type="hidden" value="{{ id }}">

                <div class="row text-center">
                    <div class="col-sm-12">
                        <p>
                            {{ form_widget(form.save,
                            { 'label' : 'Agregar',
                                'attr' : {'class' : 'btn btn-success btn-block'}
                            }) }}
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-4 text-center">
        <a class="btn btn-primary"
           href="{{ path('presupuesto_edit', { 'id' : id }) }}">Regresar al
            presupuesto</a>
    </div>

    {{ form_end(form) }}

{% endblock %}


{% block funcionesJs %}
    <script src="{{ asset('bundles/carpinteria/js/updateSelect.js') }}" ></script>
{% endblock %}