#imagen{
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	width: auto;
}

.navbar {
	min-height: 60px;
}

.navbar-nav > li > a {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 60px;
}

@media (max-width: 767px) {
	.navbar-nav > li > a {
		line-height: 30px;
		padding-top: 10px;
		padding-bottom: 10px;}
}

.fondo{
	color: black;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ffffff;
	margin-top: 50px;
	padding-top: 15px;
	padding-left:20px;
	padding-bottom: 15px;
	padding-right: 20px;
}

#botoncito{
	position: absolute;
	}


.thumbnail{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #000000;
    height:auto;
    min-height: 375px;
}
.img-thumbnail{
   height:200px !important;
   width:230px !important;
}

#titulo{
	text-align: center;
	font-size: 40px
}