{% for flashMessage in app.session.flashbag.get('mensajeError') %}
    <div class="alert alert-danger">
        <div class="container">
            {{ flashMessage }}
        </div>
    </div>
{% endfor %}