{% for flashMessage in app.session.flashbag.get('mensajeConfirmacion') %}
    <div class="alert alert-success">
        <div class="container">
            {{ flashMessage }}
        </div>
    </div>
{% endfor %}