{% extends 'listarBaseMulti.html.twig' %}


{% block tituloTabla %} Aberturas {% endblock %}

               
{% block tabla %}
   
    <thead>   
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Valor Metro Contramarco</th>
            <th>Valor Metro Premarco</th>
            <th>Valor Metro Carpinteria</th>
        </tr>
    </thead>
    
    <tbody>
        {% for abertura in aberturas %}
            <tr>
                <td> {{ abertura.modelo.nombre }} </td>
                <td> {{ abertura.marca.nombre }} </td>
                <td style="text-align: center">$ {{ abertura.valorMetroContramarco | round(2, 'floor') }} </td>
                <td style="text-align: center">$ {{ abertura.valorMetroPremarco | round(2, 'floor') }} </td>
                <td style="text-align: center">$ {{ abertura.valorMetroCarpinteria | round(2, 'floor') }} </td>
            </tr>
        {% endfor %}
    </tbody>
    
{% endblock %}

          

{% block boton %}

    <div id="botoncito">

        <div class="panel panel-default">
            <div class="panel-heading text-center">Porcentaje a procesar</div>
            <div class="panel-body">

                <form action="{{ path('abertura_vidrio_aumentar') }}" method="post">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-addon">%</div>
                            <input type="number" min="-100" max="100" name="valor" required="required"
                                   class="form-control" id="valor" placeholder="Valor">
                        </div>
                    </div>
                    <center>
                        <button id="procesar" type="submit" class="btn btn-primary">Procesar Precios</button>
                    </center>
                </form>

            </div>
        </div>



    </div>

{% endblock %}



{% block tituloTabla2 %} Vidrios {% endblock %} 


{% block tabla2 %}

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Espesor</th>
            <th>Valor Metro Cuadrado</th>
        </tr>
    </thead>

    <tbody>
        {% for vidrio in vidrios %}
        <tr>
            <td> {{ vidrio.descripcion }} </td>
            <td> {{ vidrio.espesor }} mm.</td>
            <td> $ {{ vidrio.valorM2 | round(2, 'floor') }} </td>
        </tr>
        {% endfor %}
    </tbody>

{% endblock %}


    {% block funcionesJs %}
        {{ parent() }}
        <script type="text/javascript">
            $(document).ready(function(){
               $('#procesar').click(function(e){
                   return confirm('Esta seguro? Se actualizaran todos los precios!') || e.preventDefault();
               })
            });
        </script>
    {% endblock %}