{% extends 'AberturaBundle:Abertura:add.html.twig' %}

{% block formulario %}
    {{ form_start(form, { 'attr' : {'nombre' : 'form'} }) }}

        {{ form_row(form.marca) }}
        {{ form_row(form.modelo) }}
        {{ form_row(form.valorMetroContramarco) }}
        {{ form_row(form.valorMetroPremarco) }}
        {{ form_row(form.valorMetroCarpinteria) }}
        {{ form_row(form.enabled) }}

        <p class="col-md-6">
            {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success btn-block'} }) }}
        </p>

        <div class="col-md-6">
            <a class="btn btn-danger btn-block" href="{{ path('homepage') }}" >Cancelar</a>
        </div>

    {{ form_end(form) }}

{% endblock %}




