{% extends 'listarBaseBig.html.twig' %}


{% block tituloTabla %} Aberturas {% endblock %}

               
{% block tabla %}
   
    <thead>   
        <tr>
            <th>Modelo</th>
            <th>Marca</th>
            <th>Valor Metro Contramarco</th>
            <th>Valor Metro Premarco</th>
            <th>Valor Metro Carpinteria</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Acción</th>
                {% endif %}
        </tr>
    </thead>
    
    <tbody>
        {% for abertura in aberturas %}
            <tr>
                <td> {{ abertura.modelo.nombre }} </td>
                <td> {{ abertura.marca.nombre }} </td>
                <td style="text-align: center">$ {{ abertura.valorMetroContramarco | number_format(2, ',', '.') }} </td>
                <td style="text-align: center">$ {{ abertura.valorMetroPremarco | number_format(2, ',', '.') }} </td>
                <td style="text-align: center">$ {{ abertura.valorMetroCarpinteria | number_format(2, ',', '.') }} </td>

                {% if is_granted('ROLE_ADMIN') %}
                    <td class="actions">
                        {% block acciones %}
                        <a href="{{ path('abertura_edit', { 'id': abertura.id }) }}"
                           data-toggle="tooltip" title="Editar abertura"
                           class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                        <a href="{{ path('abertura_delete', { 'id': abertura.id }) }}"
                           data-toggle="tooltip" title="Eliminar abertura!"
                           class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash">
                        </a>
                        {% endblock %}
                    </td>
                    {% endif %}
            </tr>
        {% endfor %}
    </tbody>

{% endblock %}

{% block add_button %}
        <div class="col-md-2 col-md-offset-4">
            <a class="btn btn-primary btn-block" href="{{ path('abertura_add') }}">
                <span class="glyphicon glyphicon-plus"></span>
                Agregar Abertura
            </a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-default btn-block" href="{{ path('abertura_unlist') }}">
                <span class="glyphicon glyphicon-eye-close"></span>
                Ver no disponibles
            </a>
        </div>
{% endblock %}
