{% extends 'AberturaBundle:Abertura:listar.html.twig' %}


{% block tituloTabla %}Aberturas eliminadas{% endblock %}


{% block acciones %}
    <a href="{{ path('abertura_edit', { 'id': abertura.id }) }}"
       data-toggle="tooltip" title="Editar abertura"
       class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
    <a href="{{ path('abertura_activar', { 'id': abertura.id }) }}"
       data-toggle="tooltip" title="Activar abertura!"
       class="btn btn-success btn-xs glyphicon glyphicon-chevron-up"></a>
    <a href="{{ path('abertura_delete_fuerza', { 'id': abertura.id }) }}"
       data-toggle="tooltip" title="Eliminar abertura del sistema!"
       class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-remove">
    </a>
{% endblock %}


{% block add_button %}
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-default btn-block" href="{{ path('abertura_listar') }}">
            <span class="glyphicon glyphicon-arrow-left"></span><span class="glyphicon glyphicon-arrow-left"></span>
            Volver a listado
        </a>
    </div>
{% endblock %}