{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="container">
    <div class="row">

        <div class="col-sm-3 col-sm-offset-4">
            <br/>
            <div class="panel panel-primary">
                <div class="panel-heading"><b>Login</b></div>
                <div class="panel-body">

                    <form action="{{ path("fos_user_security_check") }}" method="post" class="form-group">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                        <span class="glyphicon glyphicon-user"></span>
                        <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                        <br/>

                        <span class="glyphicon glyphicon-lock"></span>
                        <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <input class="form-control" type="password" id="password" name="_password" required="required" />

                        <br>
                        <a href="{{ path("fos_user_resetting_request") }}">Olvide mi contraseña</a>
                        <br><br>

                        <div class="row text-center">
                            <div class="col-sm-6">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                            </div>
                            <div class="col-sm-6">
                            <input class="btn btn-primary btn-md" type="submit" id="_submit"
                                   name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

                            </div>
                        </div>

                    </form>

                    {% if error %}
                        <div class="alert alert-warning">{{ error|trans({}, 'FOSUserBundle') }}</div>
                    {% endif %}



                </div>
            </div>
        </div>

    </div>
</div>

{% endblock fos_user_content %}