{% trans_default_domain 'FOSUserBundle' %}

<div class="row">

    <div class="col-md-4 col-md-offset-4">

        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading"><b>Login</b></div>
                <div class="panel-body">

                    <form action="{{ path("fos_user_security_check") }}" method="post" >

                        {% if error %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}

                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}

                        <span class="glyphicon glyphicon-user"></span>
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" class="form-control" />

                        <br/>

                        <span class="glyphicon glyphicon-lock"></span>
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" class="form-control" />

                        <br/>

                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

                        <input style="float: right" class="btn btn-primary btn-md" type="submit"
                               id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />

                    </form>

            </div>
        </div>

    </div>

</div>
