{% extends 'addBase.html.twig' %}


{% block tituloAdd %}Editar Modelo{% endblock %}


{% block formulario %}

    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Modelo</div>
            <div class="panel-body">

                {{ include('ModeloBundle::Modelo/form.html.twig') }}

            </div>
        </div>
    </div>

{% endblock %}