{% extends 'ModeloBundle:Modelo:add.html.twig' %}

{% block formulario %}

    {{ form_start(form, { 'attr' : {'id' : 'form'} }) }}

        {{ form_row(form.nombre) }}

        {{ form_label(form.imageFile) }}
        {{ form_widget(form.imageFile, { 'attr' : {'class' : 'thumbnail'} }) }}
        {{ form_errors(form.imageFile) }}

        <br>

        {{ form_row(form.enabled) }}

        <p class="col-md-6">
            {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success btn-block'} }) }}
        </p>

        <div class="col-md-6">
            <a class="btn btn-default btn-block" href="{{ path('modelo_listar') }}" >Regresar</a>
        </div>

    {{ form_end(form) }}

{% endblock %}