{% extends 'listarBase.html.twig' %}


{% block tituloTabla %} Modelos de Aberturas {% endblock %}

               
{% block tabla %}
   
    <thead>   
        <tr>
            <th>Nombre</th>
            <th>Imagen</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Acción</th>
            {% endif %}
        </tr>
    </thead>
    
    <tbody>
        {% for modelo in modelos %}
            <tr>
                <td> {{ modelo.nombre }} </td>
                <td>
                    {% if (modelo.imageName) %}
                        <img src="{{ vich_uploader_asset(modelo, 'imageFile') | imagine_filter('small') }}"
                             alt="{{ modelo.imageName }}" />
                        {#<label>{{ vich_uploader_asset(modelo, 'imageFile') | imagine_filter('small') }}</label>#}
                        {% else %}
                            <label>No tiene imagen</label>
                    {% endif %}
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="actions">
                        {% block acciones %}
                        <a href="{{ path('modelo_edit', { 'id': modelo.id }) }}"
                           data-toggle="tooltip" title="Editar modelo"
                           class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                        <a href="{{ path('modelo_delete', { 'id': modelo.id }) }}"
                           data-toggle="tooltip" title="Eliminar modelo!"
                           class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash">
                        </a>
                        {% endblock %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    
{% endblock %}

{% block add_button %}
    <div class="col-md-2 col-md-offset-4">
        <a class="btn btn-primary btn-block" href="{{ path('modelo_add') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar Modelo
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default btn-block" href="{{ path('modelo_unlist') }}">
            <span class="glyphicon glyphicon-eye-close"></span>
            Ver no disponibles
        </a>
    </div>
{% endblock %}