{% extends 'ModeloBundle:Modelo:listar.html.twig' %}


{% block tituloTabla %}Modelos eliminados{% endblock %}


{% block acciones %}
    <a href="{{ path('modelo_edit', { 'id': modelo.id }) }}"
       data-toggle="tooltip" title="Editar modelo"
       class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
    <a href="{{ path('modelo_activar', { 'id': modelo.id }) }}"
       data-toggle="tooltip" title="Activar modelo!"
       class="btn btn-success btn-xs glyphicon glyphicon-chevron-up"></a>
    <a href="{{ path('modelo_delete_fuerza', { 'id': modelo.id }) }}"
       data-toggle="tooltip" title="Eliminar modelo del sistema!"
       class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-remove">
    </a>
{% endblock %}


{% block add_button %}
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-default btn-block" href="{{ path('modelo_listar') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Volver a listado
        </a>
    </div>
{% endblock %}