{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

<div class="row text-center">
    <p class="label label-info" style="font-size: medium">
        {{ 'resetting.check_email'|trans({'%email%': email}, 'FOSUserBundle') }}
    </p>
</div>
{% endblock %}
