{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="row text-center">
        <p class="label label-warning" style="font-size: medium">
            {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
        </p>
    </div>

{% endblock fos_user_content %}
