<div class="row">

    <div class="col-md-4 col-md-offset-4">
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading"><b>Reiniciar password</b></div>
            <div class="panel-body">

                <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
                    <div>
                        {% if invalid_username is defined %}
                            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
                        {% endif %}
                        <label for="username">{{ 'resetting.request.username'|trans({}, 'FOSUserBundle') }}</label>
                        <input class="form-control" type="text" id="username" name="username" required="required" />
                    </div>
                    <br>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary"
                               value="{{ 'resetting.request.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
