<div class="row">

    <div class="col-md-3 col-md-offset-4">
        <br/>
        <div class="panel panel-primary">
            <div class="panel-heading"><b>Reiniciar password</b></div>
            <div class="panel-body">

                <form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_resetting_reset">
                    {#{{ form_widget(form) }}#}
                    <div class="form-group">
                        {{ form_label(form.new.first) }}
                        {{ form_widget(form.new.first,
                        { 'attr' : { 'class' : 'form-control',
                            'placeholder' : 'Nueva contraseña'} }) }}
                        <span class="text-danger"> {{ form_errors(form.new.first) }} </span>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.new.second) }}
                        {{ form_widget(form.new.second,
                        { 'attr' : { 'class' : 'form-control',
                            'placeholder' : 'Repita la contraseña'} }) }}
                        <span class="text-danger"> {{ form_errors(form.new.second) }} </span>
                    </div>

                    <div class="text-center">
                        <input class="btn btn-primary" type="submit" value="{{ 'resetting.reset.submit'|trans({},
                        'FOSUserBundle') }}" />
                    </div>
                </form>

            </div>
        </div>
    </div>

</div>
