{% block subject %}Reinicie su password{% endblock %}

{% block body_text %}
    {% autoescape false %}
        Hola {{ user.username }} !

        Puede resetear su password accediendo al siguiente link: {{ confirmationUrl }}

        Saludos cordiales,
        Green Parrot Software.
    {% endautoescape %}
{% endblock %}

{% block body_html %}
    {#
        You can of course render the html directly here.
        Including a template as done here allows keeping things DRY by using
        the template inheritance in it
    #}
    {% include 'email/password_resetting.html.twig' %}
{% endblock %}