#body{

    background-image: url("../images/background2.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	height: auto;
	width: auto;
}