{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}

    <div class="container">
        <div class="row">

                <h3 style="text-align:center;"><b>{% block tituloAdd %}{% endblock %}</b></h3>
                <br/>
                {% block bodyFormulario %}
                {% endblock %}
                <br/>

        </div>
    </div>
    
{% endblock %}

{% block funcionesJs %}
{% endblock %}