<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8" />
    <title>{% block title %}Carpinteria Fantasia{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/dataTables.bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/chosen.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('public/css/chosen-bootstrap.css') }}" />
        <link href="{{ asset('public/css/estilos.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('public/img/icono.ico') }}" />

</head>

<body id="imagen" style="background-image:url('{{ asset('public/img/80%.png') }}')">


    {% block menu %}
    {% endblock %}


    {% block body %}
    {% endblock %}


    {% block javascripts %}
        <script src="{{ asset('public/js/jquery-3.2.1.min.js') }}"></script>
        <script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('public/js/datatables.min.js') }}"></script>
        <script src="{{ asset('public/js/chosen.jquery.min.js') }}"></script>
    {% endblock %}


    {% block funcionesJs %}
    {% endblock %}


</body>

</html>