{% extends 'layout.html.twig' %}

{% block body %}
	<center>
	<div class="col-md-12">
		
 
		<h1>Bienvenido {{ app.user.username }}</h1>

  {% if is_granted('ROLE_ADMIN') %}
    <br />

	<div class="row">
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{{ asset('public/img/abertura5.jpg') }}" alt="aberturas" class="img-thumbnail">
      <div class="caption">
        <h3>Aberturas</h3>
        <p>Controle las aberturas y sus precios</p>
        <p><a href="/abertura/listar" class="btn btn-primary" role="button">Ver</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{{ asset('public/img/vidrio.jpg') }}" alt="vidrios" class="img-thumbnail">
      <div class="caption">
        <h3>Vidrios</h3>
        <p>Controle los vidrios y sus precios</p>
        <p><a href="/vidrio/listar" class="btn btn-primary" role="button">Ver</a></p>
      </div>
    </div>
  </div>
	
	
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{{ asset('public/img/personal3.png') }}" alt="usuarios" class="img-thumbnail">
      <div class="caption">
        <h3>Personal</h3>
        <p>Manejo de usuarios del sistema</p>
        <p><a href="/admin/app/user/list" class="btn btn-primary" role="button">Ver</a></p>
      </div>
    </div>
  </div>
		

	
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{{ asset('public/img/presu.jpg') }}" alt="presupuestos" class="img-thumbnail">
      <div class="caption">
        <h3>Presupuestos</h3>
        <p>Vea los presupuestos que se realizaron en el sistema</p>
        <p><a href="/presupuesto/listar" class="btn btn-primary" role="button">Ver</a></p>
      </div>
    </div>
  </div>
</div>
	</div>


{% elseif is_granted('ROLE_USER') %}

  <h3>¿Qué desea hacer?</h3>
  <br />

  <div class="row">
  <div class="col-sm-4 col-md-offset-3">
    <div class="thumbnail">
      <img src="{{ asset('public/img/normal.png') }}" class="img-thumbnail" alt="carga normal">
      <div class="caption">
        <h3>Carga normal</h3>
        <p>Comience a cargar carpinterías al presupuesto de manera normal</p>
        <p><a href="#" class="btn btn-primary" role="button">Ver</a></p>
      </div>
    </div>
  </div>


  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <img src="{{ asset('public/img/multiple.jpg') }}" class="img-thumbnail" alt="carga multiple">
      <div class="caption">
        <h3>Carga multiple</h3>
        <p>Carga múltiple de carpinterias, ayuda a la agilidad cuando son muchas carpinterías</p>
        <p><a href="#" class="btn btn-primary" role="button">Ver</a></p>
      </div>
    </div>
  </div>

{% endif %}
</center>



{% endblock %}

