{% extends 'base.html.twig' %}


{% block menu %}

    <div class="container">
    <div class="row">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">
                    <img width="128" height="30" src="/public/img/logomenu.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_ADMIN') %}

                        <li>
                            <a href="{{ path('precio_listar') }}">
                                Precios
                                <span class="glyphicon glyphicon-list"></span>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">Usuarios<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ path('user_add') }}">Agregar Usuario</a></li>
                                <li><a href="{{ path('user_listar') }}">Ver Usuarios</a></li>
                            </ul>
                        </li>

                        {% endif %}

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Presupuestos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('presupuesto_add') }}">Agregar Presupuesto</a></li>
                            <li><a href="{{ path('presupuesto_listar') }}">Ver Presupuestos</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Clientes<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('cliente_add') }}">Agregar Cliente</a></li>
                                {% endif %}
                            <li><a href="{{ path('cliente_listar') }}">Ver Clientes</a></li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Vidrios<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('vidrio_add') }}">Agregar Vidrio</a></li>
                                {% endif %}
                            <li><a href="{{ path('vidrio_listar') }}">Ver Vidrios</a></li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-haspopup="true" aria-expanded="false">Aberturas<span class="caret"></span></a>
                        <ul class="dropdown-menu">

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('abertura_add') }}">Agregar Abertura</a></li>
                                {% endif %}

                            <li><a href="{{ path('abertura_listar') }}">Ver Aberturas</a></li>

                            <li class="divider"></li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('marcas_add') }}">Agregar Marca</a></li>
                                {% endif %}

                            <li><a href="{{ path('marcas_listar') }}">Ver Marcas</a></li>

                            <li class="divider"></li>

                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('modelo_add') }}">Agregar Modelo</a></li>
                                {% endif %}

                            <li><a href="{{ path('modelo_listar') }}">Ver Modelos</a></li>

                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_profile_edit') }}">Editar Perfil</a></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Cerrar Sesión <span class="glyphicon
                                glyphicon-log-out"></span> </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </div>
    </div>
{% endblock %}


{% block body %}
    
    
{% endblock %}