{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}

    <div class="container">
        <div class="row">

            <div class="col-md-10 col-md-offset-1">
                <div class="fondo">
                    <div class="table-responsive">

                        <h2 class="text-center">{% block tituloTabla %}{% endblock %}</h2>

                        <table class="table table-hover table-striped table-bordered table-condensed" id="datatable">
                            {% block tabla %}
                            {% endblock %}
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        <br>
        <div class="row">
            {%  block add_button %}
            {% endblock %}
        </div>
        <br>
    {% endif %}

    <div class="row">
            {# BOTON #}
            <div class="col-md-4 col-xs-8 col-md-offset-5 col-xs-offset-2">
                {% block boton %}
                {% endblock %}
            </div>
    </div>
    {% block funcionesJs %}
        {{ include('js/datatableES.html.twig') }}
        <script src="{{ asset('bundles/presupuesto/js/delete.js') }}" ></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    {% endblock %}

{% endblock %}