{% extends 'layout.html.twig' %}


{% block body %}

    {{ include('Mensajes/success.html.twig') }}

    <div class="container">
        <div class="row">
            {# TABLA 1 #}
            <div class="col-md-6">
			    <div class="fondo">
                    <div class="table-responsive">

                        <h2>{% block tituloTabla %}{% endblock %}</h2>

                        <table class="table table-hover table-striped table-bordered table-condensed" id="datatable">
                            {% block tabla %}
                            {% endblock %}
                        </table>
                    </div>
                </div>
            </div>
            {# TABLA 2 #}
            <div class="col-md-6">
                <div class="fondo">
                    <div class="table-responsive">
                        <h2>{% block tituloTabla2 %}{% endblock %}</h2>

                        <table class="table table-hover table-striped table-bordered table-condensed" id="datatable2">
                            {% block tabla2 %}
                            {% endblock %}
                        </table>
                    </div>
                </div>
                <br/>
            </div>

        </div>


            <br/>
        <div class="row">
            {# BOTON #}
            <div class="col-md-4 col-xs-8 col-md-offset-4 col-xs-offset-2">
                {% block boton %}
                {% endblock %}
            </div>
            <div class="col-md-4">
                {% block boton2 %}
                {% endblock %}
            </div>
        </div>

</div>
    
    {% block funcionesJs %}
        {{ include('js/datatableES.html.twig') }}
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    {% endblock %}
    
{% endblock %}