{% extends 'listarBaseBig.html.twig' %}


{% block tituloTabla %} Clientes {% endblock %}


{% block tabla %}

    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Telefono</th>
        <th>Domicilio</th>
        <th>Email</th>

        {% if is_granted('ROLE_ADMIN') %}
            <th>Acción</th>
        {% endif %}

    </tr>
    </thead>

    <tbody>
    {% for cliente in clientes %}
        <tr>
            <td> {{ cliente.nombre }} </td>
            <td> {{ cliente.apellido }} </td>
            <td> {{ cliente.telefono }} </td>
            <td> {{ cliente.domicilio }} </td>
            <td> {{ cliente.email }}</td>

            {% if is_granted('ROLE_ADMIN') %}
                <td class="actions">
                    {% block acciones %}
                        <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}"
                           data-toggle="tooltip" title="Editar cliente"
                           class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                        <a href="{{ path('cliente_delete', { 'id': cliente.id }) }}"
                           data-toggle="tooltip" title="Eliminar cliente!"
                           class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash">
                        </a>
                    {% endblock %}
                </td>
            {% endif %}

        </tr>
    {% endfor %}
    </tbody>

{% endblock %}

{% block add_button %}
    <div class="col-md-2 col-md-offset-4">
        <a class="btn btn-primary btn-block" href="{{ path('cliente_add') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar Cliente
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default btn-block" href="{{ path('cliente_unlist') }}">
            <span class="glyphicon glyphicon-eye-close"></span>
            Ver no disponibles
        </a>
    </div>
{% endblock %}