{% extends 'ClienteBundle:Cliente:listar.html.twig' %}


{% block tituloTabla %}Clientes eliminados{% endblock %}


{% block acciones %}
    <a href="{{ path('cliente_edit', { 'id': cliente.id }) }}"
       data-toggle="tooltip" title="Editar cliente"
       class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
    <a href="{{ path('cliente_activar', { 'id': cliente.id }) }}"
       data-toggle="tooltip" title="Activar cliente!"
       class="btn btn-success btn-xs glyphicon glyphicon-chevron-up"></a>
    <a href="{{ path('cliente_delete_fuerza', { 'id': cliente.id }) }}"
       data-toggle="tooltip" title="Eliminar cliente del sistema!"
       class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-remove">
    </a>
{% endblock %}


{% block add_button %}
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-default btn-block" href="{{ path('cliente_listar') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Volver a listado
        </a>
    </div>
{% endblock %}