{% extends 'MarcasBundle:Marcas:add.html.twig' %}

{% block formulario %}

    {{ form_start(form, { 'attr' : {'nombre' : 'form'} }) }}

        {{ form_row(form.nombre) }}
        {{ form_row(form.enabled) }}

        <p class="col-md-6">
            {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success btn-block'} }) }}
        </p>

        <div class="col-md-6">
            <a class="btn btn-default btn-block" href="{{ path('marcas_listar') }}" >Regresar</a>
        </div>

    {{ form_end(form) }}

{% endblock %}