{% extends 'layout.html.twig' %}

{% block body %}
    <h2>Marcas de Aberturas</h2>

    <table class="table-bordered table-striped">

        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
        {% for marca in marcas %}
            <tr>
                <td> {{ marca.nombre }} </td>
                <td>
                    <a href="#"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}