{% extends 'listarBase.html.twig' %}

                
{% block tituloTabla %}Marcas de Aberturas{% endblock %}
     
                           
{% block tabla %}
   
    <thead>   
        <tr>
            <th>Nombre</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Acción</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for marca in marcas %}
            <tr>
                <td> {{ marca.nombre }} </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td class="actions">
                        {% block acciones %}
                        <a href="{{ path('marcas_edit', { 'id': marca.id }) }}"
                           data-toggle="tooltip" title="Editar marca"
                           class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                        <a href="{{ path('marcas_delete', { 'id': marca.id }) }}"
                           data-toggle="tooltip" title="Eliminar marca!"
                           class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash">
                        </a>
                        {% endblock %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
    
{% endblock %}

{% block add_button %}
    <div class="col-md-2 col-md-offset-4">
        <a class="btn btn-primary btn-block" href="{{ path('marcas_add') }}">
            <span class="glyphicon glyphicon-plus"></span>
            Agregar Marca
        </a>
    </div>
    <div class="col-md-2">
        <a class="btn btn-default btn-block" href="{{ path('marcas_unlist') }}">
            <span class="glyphicon glyphicon-eye-close"></span>
            Ver no disponibles
        </a>
    </div>
{% endblock %}