{% extends 'MarcasBundle:Marcas:listar.html.twig' %}


{% block tituloTabla %}Marcas eliminadas{% endblock %}


{% block acciones %}
    <a href="{{ path('marcas_edit', { 'id': marca.id }) }}"
       data-toggle="tooltip" title="Editar marca"
       class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
    <a href="{{ path('marcas_activar', { 'id': marca.id }) }}"
       data-toggle="tooltip" title="Activar marca!"
       class="btn btn-success btn-xs glyphicon glyphicon-chevron-up"></a>
    <a href="{{ path('marcas_delete_fuerza', { 'id': marca.id }) }}"
       data-toggle="tooltip" title="Eliminar marca del sistema!"
       class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-remove">
    </a>
{% endblock %}


{% block add_button %}
    <div class="col-md-2 col-md-offset-5">
        <a class="btn btn-default btn-block" href="{{ path('marcas_listar') }}">
            <span class="glyphicon glyphicon-arrow-left"></span>
            Volver a listado
        </a>
    </div>
{% endblock %}