{% extends 'AppBundle:User:add.html.twig' %}

{% block formulario %}

    {{ form_start(form, { 'attr' : {'nombre' : 'form'} }) }}

        <div class="row">
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Información de Cuenta</div>
                    <div class="panel-body">

                        {{ form_row(form.username) }}
                        {{ form_row(form.plainPassword) }}
                        {{ form_row(form.email) }}

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Información de Perfil</div>
                    <div class="panel-body">

                        {{ form_row(form.nombre) }}
                        {{ form_row(form.apellido) }}

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading text-center">Seguridad</div>
                    <div class="panel-body">

                        {{ form_row(form.roles) }}

                        <label>Activado</label>
                        {{ form_row(form.enabled) }}

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <p class="col-md-6">
                    {{ form_widget(form.save, { 'attr' : {'class' : 'btn btn-success btn-block'} }) }}
                </p>
                <div class="col-md-6">
                    <a class="btn btn-default btn-block" href="{{ path('user_listar') }}" >Regresar</a>
                </div>

            </div>
        </div>

    {{ form_end(form) }}

{% endblock %}