{% extends 'listarBaseBig.html.twig' %}


{% block tituloTabla %} Usuarios {% endblock %}


{% block tabla %}

    <thead>
        <tr>
            <th>Nombre de usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Acción</th>
        </tr>
    </thead>

    <tbody>
    {% for usuario in usuarios %}
        <tr>
            <td> {{ usuario.username }} </td>
            <td> {{ usuario.nombre }} </td>
            <td> {{ usuario.apellido }} </td>
            <td> {{ usuario.email }} </td>
            <td>
                {% for role in usuario.roles %}

                    {% if role == 'ROLE_ADMIN' %} Dueño {% endif %}
                    {% if role == 'ROLE_USER' %} Empleado {% endif %}

                {% endfor %}
            </td>
            <td class="actions">
                <a href="{{ path('user_edit', { 'id': usuario.id }) }}"
                   data-toggle="tooltip" title="Editar usuario"
                   class="btn btn-primary btn-xs glyphicon glyphicon-pencil"></a>
                <a href="{{ path('user_delete', { 'id': usuario.id }) }}"
                   data-toggle="tooltip" title="Eliminar usuario!"
                   class="btn btn-danger btn-xs btn-delete glyphicon glyphicon-trash">
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>

{% endblock %}